In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame(np.arange(5*4).reshape(5,4))

In [7]:
sampler = np.random.permutation(5)

In [9]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [10]:
df.take(sampler)

    0   1   2   3
4  16  17  18  19
3  12  13  14  15
0   0   1   2   3
2   8   9  10  11
1   4   5   6   7

In [13]:
df.sample(3)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
4  16  17  18  19

In [15]:
df.sample(n=10 , replace= True)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19
0   0   1   2   3
4  16  17  18  19
4  16  17  18  19
0   0   1   2   3
2   8   9  10  11
3  12  13  14  15

In [37]:
ad = np.arange(20).reshape(4,5)

In [26]:
np.dot(ad.T,ad)

2470

In [50]:
ad.reshape(2,2,1,5).shape

(2, 2, 1, 5)

In [41]:
import inspect

In [47]:
inspect(np.reshape)

TypeError: 'module' object is not callable

In [48]:
np.reshape

In [51]:
np.empty((2,3))

array([[1.5e-323, 1.5e-323, 1.5e-323],
       [1.5e-323, 1.5e-323, 1.5e-323]])